@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&amp;display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&amp;display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap'); */

* {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    background: #353535;
}

.bg-image {
    width: 40vw;

    left: 50%;
    top: calc(50% + 30px);
    transform: translate(-50%, -50%);
    opacity: 0.1;

    position: fixed;
    z-index: -1;
}

.glow-text {
    color: #add8e6;
    text-shadow: 0 0 5px #add8e6;
    font-weight: 700;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes softdrop {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes softpop {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*
SCROLL
*/
::-webkit-scrollbar {
    background: #111;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #add8e6;
    box-shadow: 0 0 15px 1px #add8e6;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: #222;
}
/*
SCROLL END
*/

/*selection*/

::selection {
    background: #30363b;
    color: #add8e6 !important;
    text-shadow: none;
}

/*selection end*/


/*
NAVBAR
*/

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    background: #222222;

    box-shadow: 0 1px 7px 1px black;

    animation: softdrop 0.5s;

    z-index: 1000;
}

.nav-wrapper {
    margin: 0 auto;
    width: 95%;

    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: 0.5fr 2fr 1.5fr 0fr;
}

nav img {
    width: 50px;
    margin: -9px 0 -13px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 15px 20px;

    opacity: 0;
    animation: softdrop 1s forwards;
    animation-delay: 0.2s;
}

nav ul li a.nav-item, .navf-item {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    color: #dddddd;
    letter-spacing: 1px;

    transition: 0.3s;

    position: relative;
}

nav ul li a.nav-item::before {
    content: '';
    background: #dddddd;

    position: absolute;

    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;

    transition: 0.3s;
    transform: scale(0);
}

nav ul li a.nav-item.active, nav ul li a.nav-item:hover {
    color: #add8e6;
    text-shadow: 0 0 10px #add8e6;
}

nav ul li a.nav-item:not(.active):hover::before {
    transform: scale(1);
}

/*
NAVBAR END
*/


/*
BUTTONS
*/
.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.72rem;

    letter-spacing: 1px;

    margin: 0 -10px;

    padding: 12px 25px 10px 25px;

    border-radius: 5px;
}
/*
.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.72rem;

    letter-spacing: 1px;

    margin: 0 -10px;

    padding: 12px 25px 10px 25px;

    border-radius: 5px;
} */

.white-hollow-btn {
    border: 1px solid #dddddd;
    color: #dddddd;
display: grid;
    transition: 0.5s;
}

.white-hollow-btn:hover {
    background: #add8e6;
    border-color: #add8e6;
    color: #222;
    box-shadow: 0 0 15px 1px #add8e6;
}

.primary-btn {
    background: #ddd;
    border-color: #ddd;
    color: #222;

    transition: 0.5s;

    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: 1fr 2.5fr;

    padding-left: 20px;
}

.primary-btn > i {
    font-size: 19px;
}

.primary-btn:hover {
    background: #add8e6;
    border-color: #add8e6;
    color: #222;
    box-shadow: 0 0 15px 1px #add8e6;
}
/*
BUTTONS END
*/

/*
RESPONSIVE
*/
@media (max-width: 1170px) {
    .bg-image {
        width: 70vw;
    }

    .nav-items {
        display: none;
    }

    .nav-wrapper {
        grid-template-columns: 0.7fr 2.5fr;
    }

    .nav-buttons {
        display: grid;
        justify-content: right;
    }

    .nav-footer-holder {
        display: block;
        height: 60px;
        background: #222;
    }

    .nav-footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        background: #222;

        box-shadow: 0 -1px 7px 1px black;

        animation: softpop 0.5s;

        z-index: 1000;
    }

    .nav-footer ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        
        list-style: none;

        text-align: center;
    }

    .nav-footer li {
        margin: 20px;
    }  
    .nav-footer i {
        display: block;
        font-size: 1.2rem;
    }

    .navf-item.active, .navf-item:hover, .navf-item:active {
        color: #add8e6;
        text-shadow: 0 0 10px #add8e6;
    }

/*
FOOTER START
*/

/*
FOOTER END
*/

}
/*
SECTIONS
*/
section {
    min-height: 80vh;
    box-sizing: border-box;
    color: #ddd;
}

.landing {
    min-height: 100vh;
}

.section-wrapper {
    padding: 100px;
}

.title {
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 2.7rem;
}

.desc {
    font-weight: 200;
    font-size: 1.2rem;
}

.glow-divider {
    margin: 0 auto;
    margin-top: 16px;

    width: 100px;
    height: 10px;
    border-radius: 10px;

    background: #add8e6;
    box-shadow: 0 0 10px 2px #add8e6;
}

.overview-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;

    margin-top: 40px;
}

.card-icon {
    font-size: 36px;
    margin: 10px;
    margin-left: 2px;
}

.card-icon > i {
    color: #add8e6;
    text-shadow: 0 0 5px #add8e6;
}

.card-desc {
    margin-top: 10px;
    font-size: 0.95rem;
}

.banner {
    text-align: center;
}

.brand {
    font-size: 7rem;
    line-height: 6rem;

    color: #add8e6;
    text-shadow: 0 0 10px #add8e6;

    animation: scaleIn 0.8s ease-out;
}

.brand-desc {
    color: #ccc;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;

    opacity: 0;
    transform: scale(0);

    animation: 0.7s scaleIn 0.3s ease-out forwards;
}

  footer {
background: #222;
    color: #ddd;
    padding: 15px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-weight: 300;
}

footer img {
    width: 50px;
}

.footer-brand {
    display: grid;
    justify-content: left;
}
.footer-logo {
    display: grid;
    justify-content: center;
}
.footer-by {
    display: grid;
    justify-content: right;
}
.footer-by-col {
    display: grid;
    align-items: center;
    
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    text-align: center;
}

        #myNavbar {
    display: none;
  }
  
@media (max-width: 1023px) {
  
  .brand {
    font-size: 3rem;
    line-height: 3rem;
    color: #add8e6;
    text-shadow: 0 0 10px #add8e6;
    animation: scaleIn 0.8s ease-out;
}
  .section-wrapper {
    padding: 20px;
}
  
  .nav-footer ul {
    /*display: grid;
    /*grid-template-columns: 0fr 0fr 0fr 0fr;
    justify-content: center;
    list-style: none;
    text-align: center;*/
  float: left;
  display: block;
  color: #f2f2f2;
    display: grid;
  text-align: center;
  text-decoration: none;
    justify-content: center;
  font-size: 17px;
    list-style: none;
    list-style-type:none; 
}
  .nav-footer {
      overflow: hidden;
  background:#222;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  .nav-footer-holder {
    display: none;
}
  
        #myNavbar {
    display: inline;
  }
    
    #myNavbar {
  overflow: hidden;
  background:#222;
  position: fixed;
  bottom: 0;
  width: 100%;
}
    
  #myNavbar a:not(:first-child) {display: none;}
  #myNavbar a.icon {
    float: right;
    display: block;
  }
    
    #myNavbar a {
float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 8px;
    margin-left: -7px;
    margin-left: -7px;
}
    #myNavbar li {
      list-style-type:none; 
    }
    

  #myNavbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  #myNavbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
      .navf-item.active, .navf-item:hover, .navf-item:active {
        color: #add8e6;
        text-shadow: 0 0 10px #add8e6;
    }
  
  nav img {
  display: none;
}
  .btn {
    font-size: 0.5rem;
}
  
  .title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.7rem;
}
  .overview-cards {
    display: grid;
    column-gap: 10%;
    margin-top: 40px;
}
  .card-title {
    font-size: 1rem;
  }
  .card-desc {
    margin-top: 10px;
    font-size: 0.90rem;
}
  
    footer {
background: #222;
    color: #ddd;
    padding: 45px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
  footer h3 {
    font-size: 15px;
}

footer img {
    width: 40px;
}
  
  .footer-brand {
    display: grid;
    justify-content: left;
    margin-top: -40px;
}
.footer-logo {
  display: grid;
  justify-content: center;
  margin:0 auto;

  overflow: hidden;
  text-align:center;
  margin-top: -30px;
}
.footer-by {
    display: grid;
    justify-content: right;
    margin-left: 70px;
    margin-top: -45px;
}
.footer-by-col {
    display: grid;
    align-items: center;
    
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    text-align: center;
}
  
  }
